@model CreateAdminRequestModel
@using TrainStationManagementApplication.Models.Enums;

@{
    ViewData["Title"] = "AddAdmin";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/addAdmin.css">
</head>
<body>
    <form asp-action="AddAdmin" asp-controller="Admins" enctype="multipart/form-data">
        <div class="container">
            <div class="layer2">
                <div class="card">
                    <div>
                        <p class="p">REGISTER ADMIN</p>
                    </div>
                    <div class="fields">
                        <div class="col-3">
                            <i class="fa fa-user icon"></i>
                            <label>First Name:</label>
                            <input type="text" name="FirstName" asp-for="FirstName">
                            <span asp-validation-for="FirstName" style="color: red"></span>
                        </div>
                        <div class="col-3">
                            <i class="fa fa-user icon"></i>
                            <label>Last Name:</label>
                            <input type="tel" name="LastName" asp-for="LastName">
                            <span asp-validation-for="LastName" style="color: red"></span>
                        </div>
                        <div class="col-3">
                            <i class="fa fa-envelope icon"></i>
                            <label>Email:</label>
                            <input type="email" name="Email" asp-for="Email">
                            <span asp-validation-for="Email" style="color: red"></span>
                        </div>
                        <div class="col-3">
                            <i class="fa fa-lock icon"></i>
                            <label>Password:</label>
                            <input type="password" name="Password" asp-for="Password">
                            <span asp-validation-for="Password" style="color: red"></span>
                        </div>
                        <div class="col-3">
                            <i class="fa fa-image icon"></i>
                            <label>Image:</label>
                            <input type="file" name="Image" asp-for="Image">
                            <span asp-validation-for="Image" style="color: red"></span>
                        </div>
                        <div class="col-3">
                            <i class="fa fa-genderless icon"></i>
                            <label>Gender:</label>
                            @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Gender))),new { @class="form-control"})
                            <span asp-validation-for="Gender" style="color: red"></span>
                        </div>
                        <div class="col-3">
                            <i class="fa fa-phone icon"></i>
                            <label>Phone Number:</label>
                            <input type="tel" name="PhoneNumber" asp-for="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" style="color: red"></span>
                        </div>
                        <div class="col-3">
                            <i class="fa fa-address-card icon"></i>
                            <label>Street:</label>
                            <input name="Street" type="text" asp-for="Street">
                            <span asp-validation-for="Street" style="color: red"></span>
                        </div>
                        <div class="col-3">
                            <i class="fa fa-address-card icon"></i>
                            <label>State:</label>
                            <input type="text" name="State" asp-for="State">
                            <span asp-validation-for="State" style="color: red"></span>
                        </div>
                        <div class="col-3">
                            <i class="fa fa-address-card icon"></i>
                            <label>City:</label>
                            <input type="text" name="City" asp-for="City">
                            <span asp-validation-for="City" style="color: red"></span>
                        </div>
                        <div class="col-3">
                            <i class="fa fa-address-card icon"></i>
                            <label>Country:</label>
                            <input type="text" name="Country" asp-for="Country">
                            <span asp-validation-for="Country" style="color: red"></span>
                        </div>

                        <div class="button">
                            <button style="border-radius: 27px; background-color: var(--var-soft-blue); width: 120px;">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}